CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESP32_SPIRAM_SPEED=80  
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESP32_DPORT_DIS_INTERRUPT_LVL=5  # Reduce interrupt overhead for higher performance
CONFIG_ESP32S3_INSTRUCTION_CACHE_16KB=y  # Maximize instruction cache
CONFIG_ESP32S3_DATA_CACHE_16KB=y  # Maximize data cache
CONFIG_ESP32S3_SPIRAM_FETCH_INSTRUCTIONS=y  # Enable code execution from PSRAM
CONFIG_LWIP_TCP_HIGH_SPEED_RETRANSMISSION=y  # Improve TCP throughput
CONFIG_LWIP_MAX_SOCKETS=16  # Increase max concurrent sockets
CONFIG_BTDM_CTRL_HCI_MODE_VHCI=y  # Optimize HCI communication
CONFIG_BTDM_CTRL_BLE_MAX_CONN=4  # Allow more BLE connections
CONFIG_ESP32_WIFI_RX_IRAM_OPT=y  # Store RX buffers in IRAM
CONFIG_ESP32_WIFI_TX_BUFFER_IN_IRAM=y  # Store TX buffers in IRAM
CONFIG_ESP32_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y  # Allocate network buffers in PSRAM
CONFIG_PARTITION_TABLE_TWO_OTA = y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-16MiB-ota.csv"

